.app-layout {
    height: 100vh !important;
    overflow: hidden;
}

.main {
    overflow: hidden;
}

.topbar {
    height: 0 !important;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.content {
    padding: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

.content::after {
    content: '';
    display: block;
    height: 24px;
}