@page "/dash-board"
@using AntDesign
@using CMMS.Client.Components.DashBoards.DashBoardCharts
@using CMMS.Client.Components.DashBoards.DashBoardFooters
@using CMMS.Client.Components.DashBoards.DashBoardHeaders
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
<PageTitle>DashBoard</PageTitle>
<h3>DashBoard</h3>
<h5>Equipment status overview</h5>
@if (isLoading)
{
    <div style="text-align: center; margin-top: 50px;">
        <Spin Spinning="true" Tip="Đang tải dữ liệu..." />
    </div>
}
else
{
    <div class="dashboard-section">
        <DashBoardHeader DashBoardData="@DashBoardData" />
    </div>

    <div class="dashboard-section">
        <DashBoardChart DashBoardData="@DashBoardData" />
    </div>
    <div class="dashboard-section">
        <DashBoardFooter DashBoardData="@DashBoardData" />
    </div>
}
