@page "/dash-board"
@using AntDesign
@using CMMS.Client.Components.DashBoards.DashBoardCharts
@using CMMS.Client.Components.DashBoards.DashBoardFooters
@using CMMS.Client.Components.DashBoards.DashBoardHeaders
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
<PageTitle>DashBoard</PageTitle>
<h3>DashBoard</h3>
<h5>Equipment status overview</h5>
<div class="dashboard-section">
    <DashBoardHeader />
</div>

<div class="dashboard-section">
    <DashBoardChart />
</div>
<div class="dashboard-section">
    <DashBoardFooter />
</div>
