@using AntDesign

<Row Gutter="16">
    <!-- Running -->
    <Col Span="6">
        <Card Style="border-radius:15px" Class="dashboard-card">
            <div class="card-content">
                <div class="icon-box green">
                    <Icon Type="check-circle" Theme="IconThemeType.Outline" />
                </div>
                <div class="chil-content">
                    <div class="card-title">Running</div>
                    <div class="card-value green-text">@Running.Count</div>
                </div>
            </div>
        </Card>
    </Col>
    <!-- Total Equipment -->
    <Col Span="6">
        <Card Style="border-radius:15px" Class="dashboard-card">
            <div class="card-content">
                <div class="icon-box blue">
                    <Icon Type="setting" Theme="IconThemeType.Outline" />
                </div>
                <div class="chil-content">
                    <div class="card-title">Normal</div>
                    <div class="card-value">@Normal.Count</div>
                </div>
            </div>
        </Card>
    </Col>

    <!-- Due Soon -->
    <Col Span="6">
        <Card Style="border-radius:15px" Class="dashboard-card">
            <div class="card-content">
                <div class="icon-box orange">
                    <Icon Type="clock-circle" Theme="IconThemeType.Outline" />
                </div>
                <div class="chil-content">
                    <div class="card-title">Due Soon</div>
                    <div class="card-value orange-text">@DueSon.Count</div>
                </div>
            </div>
        </Card>
    </Col>
    <Col Span="6">
        <Card Style="border-radius:15px" Class="dashboard-card">
            <div class="card-content">
                <div class="icon-box red">
                    <Icon Type="warning" Theme="IconThemeType.Outline" />
                </div>
                <div class="chil-content">
                    <div class="card-title">Overdue</div>
                    <div class="card-value red-text">@OverDue.Count</div>
                </div>
            </div>
        </Card>
    </Col>
</Row>